@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-primary-light dark:text-text-primary-dark font-display antialiased;
  }
}
